annotated-types
anthropic
anyio
certifi
charset-normalizer
distro
ffmpeg-python
h11
httpcore
httpx
idna
jiter
pillow
pyaes
pyasn1
pydantic
pydantic_core
python-dotenv
requests
rsa
sniffio
Telethon
typing_extensions
urllib3
beautifulsoup4
youtube-transcript-api
